<div>
  <header>
    
        <div class="column bg-gray">
            <b><p>
      <a href="/post/{{id}}"  class="no-underline link dim black dib mr3">{{title}} </a></p></b>
      </div>

      <div class="column">
      <span class=""> {{ content }} </span>
      </div>
  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post}}
        </div>
            <div id="card-content">
                <b>{{user.username}}</b> | 
                 | {{format_date created_at}} | <b><a href="/post/{{id}}" class="no-underline gray">{{comments.length}} {{format_plural "comment" comments.length}}</a></b>
            </div>
        </div>
    </div>